{% extends 'base.html.twig' %}

{# Surcharge du bloc title #}
{% block title %}Liste des films{% endblock %}


{% block stylesheets %}
    {# Je veux une feuille de style spécifique pour cette vue #}
    <!-- Feuille spécifique -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

    {# Inclusion de header #}
    {% include 'header.html.twig' with {'valeur': 'Liste des films'} %}

    {# Affichage d'une valeur avec dump#}
    {#{ dump(movies) }#}

    <div class="row row-cols-1 row-cols-md-3 g-4">

    {# Affichage en liste #}
        {% for movie in movies %}
            <div class="col">
                <div class="card h-100">

                    {# En cas de poster absent, on place une fausse image #}
                    {% if (movie.poster == 'NULL') or (movie.poster == 'http://NULL') %}
                        {% set poster = 'https://dummyimage.com/150x200/000/fff' %}
                    {% else %}
                        {% set poster = movie.poster %}
                    {% endif %}
                    {# Echappement html pour l'attribut alt #}
                    <img src="{{ poster }}" class="card-img-top" alt="{{ movie.title|e }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }} - {{ movie.year }}</h5>
                        <p class="card-text">
                            {{ movie.synopsis|slice(0, 50) }}
                        </p>
                    </div>
                 </div>
                
                <a href="{{ path('Movie_Show', { 'idMovie': movie.id }) }}" title="{{ movie.title|e }}">Voir la fiche du film</a>
                {# La fonction url() va généréer une URL absolue #}
                {# 
                    <a href="{{ url('Movie_Show', { 'idMovie': movie.id }) }}" title="{{ movie.title|e }}">Voir la fiche du film</a>
                #}
             </div>
        {% endfor %}
     </div>

{% endblock %}
