{% extends 'base.html.twig' %}

{# Surcharge du bloc title #}
{% block title %}Liste des films{% endblock %}


{% block stylesheets %}
    {# Je veux une feuille de style spécifique pour cette vue #}
    <!-- Feuille spécifique -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

    {# Inclusion de header #}
    {% include 'header.html.twig' with {'valeur': 'Liste des films'} %}

    {# Affichage d'une valeur avec dump#}
    {{ dump(movies) }}


    {# Affichage en liste #}
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.id }} -- {{ movie.title }}
                <br>
                <img src="{{ movie.poster }}" />
            </li>
        {% endfor %}
    </ul>

{% endblock %}
