{% extends 'base.html.twig' %}

{# Surcharge du bloc title #}
{% block title %}Liste des films{% endblock %}


{% block stylesheets %}
    {# Je veux une feuille de style spécifique pour cette vue #}
    <!-- Feuille spécifique -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

    {# Inclusion de header #}
    {#{% include 'header.html.twig' with {
        'valeur': 'Fiche d\'un film',
        'delete': true,
        'update': true
        } 
    %}#}

    {# Affichage d'une valeur avec dump#}
    {#{ dump(movies) }#}

    <div class="row justify-content-md-center">
        <div class="col-3">
            <h1>{{ movie.title }} - {{ movie.year }}</h1>

            {# En cas de poster absent, on place une fausse image #}
            {% if (movie.poster == 'NULL') or (movie.poster == 'http://NULL') %}
                {% set poster = 'https://dummyimage.com/150x200/000/fff' %}
            {% else %}
                {% set poster = movie.poster %}
            {% endif %}

            {# Echappement html pour l'attribut alt #}
            <img src="{{ poster }}" class="img-thumbnail" alt="{{ movie.title|e }}">

        </div>

        <div class="col-4">
            <h2>Synopsis</h2>
            <div>
                {{ movie.synopsis }}
            </div>

            <hr>

            <h2>Réalisateur.rice:</h2>
            {#{ dump(movie.idDirector) }#}
            {% if (movie.idDirector) %}
                {{ movie.idDirector.name }} {{ movie.idDirector.surname }} {{ movie.idDirector.yearOfBirth }}
            {% endif %}


            {# SECURITE #}
            {# **************** #}

            {# Recours à Movie Voter #}
            {% if is_granted('view', movie) %}
                Accès autorisé car id 24 ou ROLE_ADMIN
            {% else %}
                Vous ne pouvez pas voir ceci
            {% endif %}

            {# Bouton de modification uniquement aux admins #}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('movie_edit', {'id': movie.id})}}" title="Modifier ce film" class="btn btn-primary">Modifier ce film</a>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Résultats sur TMDB API</h3>            
            {# Requête sur TMDB #}
            {{ render(path('movie_query_tmdb', { query: movie.title })) }}
        </div>
    </div>

{% endblock %}