<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <!-- Bootstrap CSS -->
        {# Invisible dans le code #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {# Inclusion de top #}
        {% include 'default/_top.html.twig' %}

        {% include 'default/_navbar.html.twig' %}

        <!-- Margin top -->
        <div class="container-fluid" style="margin-top:80px">
            {% block body %}{% endblock %}
        </div>


        <div>
            <p>Sitemap</p>
            {# route_paths fait appel directement au Helper définit dans twig.yaml #}
            {# on peut alors faire appel à ses méthodes qui commencent par get... comme getRoutes() en faisant route.paths.routes #}
            {% for route_name, route_path in route_paths.routes %}
                {# {{ dump(route_name, route_path) }} #}
                <a href="{{route_path}}" alt="Route vers: {{route_name}}">{{route_name}}</a>
                <br>
            {% endfor %}
        </div>
    </body>
</html>
